<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <applicationSettings>
    <Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults>
      <setting name="CodeInspectionSettings" serializeAs="Xml">
        <value>
          <CodeInspectionSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <CodeInspections>
              <CodeInspection Name="AnnotationInIncompatibleComponentTypeInspection"
                Severity="Warning" InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="ApplicationWorksheetFunctionInspection"
                Severity="Suggestion" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ArgumentWithIncompatibleObjectTypeInspection"
                Severity="Warning" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="AssignedByValParameterInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="AssignmentNotUsedInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="AttributeValueOutOfSyncInspection" Severity="Error"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="BooleanAssignedInIfElseInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ConstantNotUsedInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="DefaultMemberRequiredInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="DefaultProjectNameInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="DefTypeStatementInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="DuplicatedAnnotationInspection" Severity="Error"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="EmptyCaseBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyDoWhileBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyElseBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyForEachBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyForLoopBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyIfBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyMethodInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyModuleInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EmptyStringLiteralInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="EmptyWhileWendBlockInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="EncapsulatePublicFieldInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ExcelMemberMayReturnNothingInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ExcelUdfNameIsValidCellReferenceInspection"
                Severity="Warning" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="FunctionReturnValueAlwaysDiscardedInspection"
                Severity="Suggestion" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="FunctionReturnValueDiscardedInspection"
                Severity="Hint" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="HostSpecificExpressionInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="HungarianNotationInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="IIfSideEffectInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplementedInterfaceMemberInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitActiveSheetReferenceInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitActiveWorkbookReferenceInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitByRefModifierInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ImplicitContainingWorkbookReferenceInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitContainingWorksheetReferenceInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitDefaultMemberAccessInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitlyTypedConstInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitPublicMemberInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ImplicitRecursiveDefaultMemberAccessInspection"
                Severity="Suggestion" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitUnboundDefaultMemberAccessInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ImplicitVariantReturnTypeInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="InconsistentArrayBaseInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="InconsistentParamArrayBaseInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="IndexedDefaultMemberAccessInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="IndexedRecursiveDefaultMemberAccessInspection"
                Severity="Suggestion" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="IndexedUnboundDefaultMemberAccessInspection"
                Severity="Warning" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="IntegerDataTypeInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="InvalidAnnotationInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="IsMissingOnInappropriateArgumentInspection"
                Severity="Error" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="IsMissingWithNonArgumentParameterInspection"
                Severity="Error" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="KeywordsUsedAsMemberInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="LineContinuationBetweenKeywordsInspection"
                Severity="Error" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="LineLabelNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="MemberNotOnInterfaceInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="MisleadingByRefInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="MissingAnnotationArgumentInspection" Severity="Error"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="MissingAttributeInspection" Severity="Error"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="MissingMemberAnnotationInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="MissingModuleAnnotationInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="ModuleScopeDimKeywordInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ModuleWithoutFolderInspection" Severity="Suggestion"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="MoveFieldCloserToUsageInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="MultilineParameterInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="MultipleDeclarationsInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="NegativeLineNumberInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="NonBreakingSpaceIdentifierInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="NonReturningFunctionInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObjectVariableNotSetInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObjectWhereProcedureIsRequiredInspection"
                Severity="Error" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObsoleteCallingConventionInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ObsoleteCallStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteCommentSyntaxInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteErrorSyntaxInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteGlobalInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteLetStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteMemberUsageInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="ObsoleteTypeHintInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ObsoleteWhileWendStatementInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="OnErrorGoToMinusOneInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="OnLocalErrorInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="OptionBaseInspection" Severity="Hint" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="OptionExplicitInspection" Severity="Error"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ParameterCanBeByValInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ParameterlessCellsInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ParameterNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ProcedureCanBeWrittenAsFunctionInspection"
                Severity="Suggestion" InspectionType="LanguageOpportunities" />
              <CodeInspection Name="ProcedureNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ProcedureRequiredInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="PublicControlFieldAccessInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="PublicEnumerationDeclaredInWorksheetInspection"
                Severity="Warning" InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ReadOnlyPropertyAssignmentInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="RedundantByRefModifierInspection" Severity="DoNotShow"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="RedundantOptionInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="SelfAssignedDeclarationInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="SetAssignmentWithIncompatibleObjectTypeInspection"
                Severity="Error" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="ShadowedDeclarationInspection" Severity="DoNotShow"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="SheetAccessedUsingStringInspection" Severity="Suggestion"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="StepIsNotSpecifiedInspection" Severity="DoNotShow"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="StepOneIsRedundantInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="StopKeywordInspection" Severity="Hint"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="SuperfluousAnnotationArgumentInspection"
                Severity="Warning" InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="SuspiciousLetAssignmentInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="SuspiciousPredeclaredInstanceAccessInspection"
                Severity="Warning" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UDTMemberNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnassignedVariableUsageInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UndeclaredVariableInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnderscoreInPublicClassModuleMemberInspection"
                Severity="Error" InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnhandledOnErrorResumeNextInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnreachableCaseInspection" Severity="Warning"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="UnrecognizedAnnotationInspection" Severity="Warning"
                InspectionType="RubberduckOpportunities" />
              <CodeInspection Name="UntypedFunctionUsageInspection" Severity="Hint"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="UseMeaningfulNameInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="UseOfBangNotationInspection" Severity="Hint"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="UseOfRecursiveBangNotationInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="UseOfUnboundBangNotationInspection" Severity="Warning"
                InspectionType="NamingAndConventionsIssues" />
              <CodeInspection Name="ValueRequiredInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="VariableNotAssignedInspection" Severity="Error"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="VariableNotUsedInspection" Severity="Suggestion"
                InspectionType="CodeQualityIssues" />
              <CodeInspection Name="VariableTypeNotDeclaredInspection" Severity="Warning"
                InspectionType="LanguageOpportunities" />
              <CodeInspection Name="WriteOnlyPropertyInspection" Severity="Suggestion"
                InspectionType="NamingAndConventionsIssues" />
            </CodeInspections>
            <WhitelistedIdentifiers />
            <RunInspectionsOnSuccessfulParse>true</RunInspectionsOnSuccessfulParse>
            <IgnoreFormControlsHungarianNotation>true</IgnoreFormControlsHungarianNotation>
          </CodeInspectionSettings>
        </value>
      </setting>
    </Rubberduck.CodeAnalysis.Properties.CodeInspectionDefaults>
  </applicationSettings>
</configuration>
